<div class="navbar">
  <nav>
    <p>{{#link-to 'index'}}Home{{/link-to}}</p>
    <p>Shop</p>
    <p id="title">BEST<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>MADE</p>
    <p>Cart</p>
  </nav>
</div>

<div class="wrap">
  {{outlet}}
</div>
