<div class="navbar">
  <nav>
    <p>{{#link-to 'index'}}Home{{/link-to}}</p>
    <p>{{#link-to 'all-products'}}Shop{{/link-to}}</p>
    <p>{{#link-to 'visit-us'}}Visit Us{{/link-to}}</p>
    <p id="title">BEST<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>MADE</p>
    <p>{{#link-to 'admin'}}Admin{{/link-to}}</p>
  </nav>
</div>

<div class="wrap">
  {{outlet}}
</div>
<footer>
  <hr>
  <span>Follow Best Made Co.</span>
  <a href="https://twitter.com/bestmadeco">Twitter / </a>
  <a href="https://www.facebook.com/BestMadeCo">Facebook / </a>
  <a href="https://www.instagram.com/bestmadeco/">Instagram</a>
</footer>
